// Корректировка базовых стилей для 100% высоты
html, body, #app {
  height: 100vh;
  margin: 0;
  padding: 0;
}

// 5. Базовые стили
html, body {
  height: 100vh;
  font-family: var(--font-family-main);
  background: var(--bg-100);
  color: var(--text-100);
}

body {
  background: var(--bg-100);
  color: var(--text-100);
}

/* Стили для основного лейаута */
.app {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Предотвращает выход элементов за пределы контейнера */
}